<td>{{id}}</td>
<td>{{name}}</td>
<td>{{role}}</td>
<td>{{_utils 'dateFormat' createdAt}}</td>
<td>
  <span class="btn btn-xs btn-danger">{{t "Remove"}}</span>
  <span class="btn btn-xs btn-default">{{t "Edit"}}</span>
</td>
